<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body ng-app="githubsearch">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#">GithubSearch</a>
      </nav>
    <div ng-controller="SearchController" class="SearchController container-fluid">
        <div id="search" class="srh-box">
            <input class="srh-inpt form-control" ng-model="query" placeholder="searh..." ng-keyup="$event.keyCode == 13 && executeSearch()">
          </div>   
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <td>
                <a href="#" ng-click="sortType = 'name'; sortReverse = !sortReverse">
                  Name
                  <span ng-show="sortType == 'name' && !sortReverse">^</span>
                  <span ng-show="sortType == 'name' && sortReverse"></span>
                </a>
              </td>
              <th>Author</th>
              <th>Rate (stars)</th>
              <th class="hidden-xs">Issues</th>
              <th class="hidden-xs">Avatar</th>
              <th class="hidden-xs">Private</th>
              <th class="hidden-xs">Link to repo</th>
            </tr>
          </thead>
          <tbody class="repo" ng-repeat="repo in repos" ng-click="openRepo()">
            <tr ng-repeat="repo in repos | orderBy:sortType:sortReverse | filter:searchFish">
                <td>{{ repo.name }}</td>
                <td>{{ repo.owner.login }}</td>
                <td>{{ repo.stargazers_count}}</td>
                <td class="hidden-xs">{{ repo.open_issues}}</td>
                <td class="hidden-xs"><img src="{{ repo.owner.avatar_url}}" alt="" style="width: 60px;"></td>
                <td class="hidden-xs">{{repo.private}}</td>
                <td class="hidden-xs"><a href="{{repo.html_url}}">link</a></td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- <button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
          Previous
      </button>
      {{currentPage+1}}/{{numberOfPages()}}
      <button ng-disabled="currentPage >= getData().length/pageSize - 1" ng-click="currentPage=currentPage+1">
          Next
      </button> -->  
    <script src="js/angular.js"></script>
    <script src="js/main.js"></script>
</body>
</html>